#behindTheScenesWrapper {
    grid-column: 1 / 13;
    grid-row: 1 / 13;
    display: grid;
    grid-template: repeat(12, 1fr);
}
#businessInfoBox {
    grid-row: 2 / 12;
    grid-column: 8 / 12;
    border: solid 5px blue;
}
#questions {
    grid-row: 2 / 12;
    grid-column: 2 / 8;
    border: solid 5px red;
}