#behindTheScenesWrapper {
display: flex;
justify-content: center;
align-items: center;
overflow: scroll;
width: 100vw;
height: 82vh;
}
#questionWrapper {
    display: flex;
    width: 60vw;
    height: 82vh;
    padding: 3vh 1vw 3vw 3vh;
    justify-content: center;

}
#businessInfoBoxWrapper {
    height: 82vh;
    width: 40vw;
    padding: 3vh 3vw 3vh 0;
    justify-content: center;
}

#bannerImage {
    max-width: 54vw;
    /* height: 18vh; */
    /* align-self: center;
    justify-content: center;
    align-items: center; */
}
