#formwrapper {
    justify-self: center;
    grid-column: 2 / 12;
    grid-row: 2 / 12;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#col1 {
    width: 40vw;
    margin: 2vw;
    grid-column: 1 / 2;
}
#col2 {
    grid-column: 2 / 3;
    width: 40vw;
    margin: 2vw;
}
#submitNewBusiness {
grid-column: 2 / 3;
display: grid;
grid-template-rows: repeat(4, 1fr);
grid-template-columns: repeat(10, 1fr);
}
#submitNewBusinessButton {
    grid-column: 4 / 7;
    align-self: center;
}
#coordinatesFormGroup {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
#latitudeGroup {
    grid-column: 1 / 7;
}
#longitudeGroup{
    grid-column: 7 / 13;
}
label {
    margin: 0 1vw;
}
