/* #formwrapper {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
#col1 {
    width: 40vw;
    margin: 2vw;
}
#col2 {
    width: 40vw;
    margin: 2vw;
}
#submitNewBusiness {

} */