#behindthescenestitle {
    font-size: 2rem;
    margin: 1vh 1vw;
}

#story {
    font-size: 1.4rem;
    margin: 1vh 1vw;
}
.question {
    margin: 1vh 1vw;
    font-size: 1.2rem;
}
.answer {
    margin: 1vh 1vw;
    width: 50vw;
    line-height: 115%;
}

#behindthescenesalumname {
    margin: 1vh 1vw;
    font-size: 1.3rem;
}