html body.modal-open div div div.modal.fade.show div#businessModal.modal-dialog.modal-sm {
position: absolute;
top: 0;
right: 3vw;
bottom: 0;
}
#businessModal {
    height: 84vh;
    align-self: flex-end;
    width: 300px;
}

#businessModal .modal-content .modal-dialog {
    margin: auto 0 !important;
}

#hidden {
    display: none;
}
.mapContainer {
    display: flex;
    justify-content: flex-end;
}