html body.modal-open div div div.modal.fade.show div#businessModal.modal-dialog.modal-sm {
position: absolute;
top: 0;
right: 3vw;
bottom: 0;
}
#businessModal {
    height: 84vh;
    margin-right: 3vw;
    align-self: flex-end;
   
}
@media only screen and (min-width: 420px)  {
    #businessModal {
       width: 350px;
    }
}
@media only screen and (max-width: 420px) and (min-width: 200px)  {
    #businessModal {
        width: 250px;
    }
}

#hidden {
    display: none;
}

.mapContainer {
    display: flex;
    justify-content: flex-end;
}