#root > div > div.header > div > header > nav {
  height: 10vh;
  justify-content: flex-start;
}
#logowrapper {
  display: flex;
}
#title {
  align-self: center;
}
#title:link {
    color: #F7F7F7;
  }
   /* visited link */
#title:visited {
     color: #F7F7F7;
     text-decoration: none;
     list-style-type: none;
   }
   
   /* mouse over link */
#title:hover{
     color: #8B6F4B;
     text-decoration: none;
     list-style-type: none;
   }
   
   /* selected link */
#title:active {
     color: grey;
     text-decoration: none;
     list-style-type: none;
   }
#dulogo {
  height: 5vh !important;
  display: inline;
}