#title:link {
    color: #F7F7F7;
  }
   /* visited link */
#title:visited {
     color: $light;
   }
   
   /* mouse over link */
#title:hover{
     color: #8B6F4B;
     text-decoration: none;
   }
   
   /* selected link */
#title:active {
     color: grey;
   }
.navbar-brand > img:nth-child(1) {
  height: 5vh !important;
}