.navbar-expand-md {
    height: 10vh;
    background-color: #222122 !important;
}
.cgfooter {
    background-color: #222122 !important;
}
svg {
    align-self: center;
    justify-self: center;
}
#root > div > div.footer > div > div > nav > div > ul > div > div > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#du-near-me {
    color: #F7F7F7;
    margin: 5px;
}
#footerrow {

}
#footercolumn {

}
#root > div > div.footer > div > div > nav > div > ul {

}