.cgfooter {
    height: 8vh;
    background-color: #222122 !important;
    display: flex;
    justify-content: space-between;
}

.footerColOne {
color: #F7F7F7;
display: flex;
justify-content: center;
align-items: center;
}

.footerColTwo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#poweredbydu {
    height: 5vh;
}

#du-near-me {
    margin-left: 10px;
}
