#cardImage {
    grid-row-start: 1;
    grid-row-end: 3;
}
#businessName {
    grid-row-start: 5;
    grid-row-end: 6;
    border: solid 2px green;
}
#alumnusName {
    grid-row-start: 10;
    grid-row-end: 12;
    border: solid 2px greenyellow;
}
#businessDescription {
    grid-row-start: 1;
    grid-row-end: 3;
    border: solid 2px pink;
}