.App {
  display: grid !important;
  grid-template-rows: 10% 80% 10% !important;
  grid-template-areas: "header" "map" "footer" !important;
}

.header {
  grid-area: header !important;
}
.Google-Map {
  grid-area: map !important;
  width: 100vw;
  height: 80vh;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}