body, html {
  margin: 0;
  padding: 0;
  font-family: 'FuturaDU';
  overflow:  hidden !important;
  box-sizing: border-box !important;
}

@font-face {
    font-family: 'FuturaDU';
    src: url("./assets/FuturaStd-Medium.otf") format("opentype");
}

